@model CarShop.Producer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<link rel="stylesheet" href="~/css/Text.css" />
<div>
    <h4>Producer</h4>
    <hr />
    <div class="col">
        <div class="row">
            <img src=@Model.LogoUrl style="display: block; margin-left: auto; margin-right: auto; width:200px; height: 200px" />
        </div>
        <div class="textContainer row">
            <p class="text">
                @Html.DisplayNameFor(model => model.Name)
                @Html.DisplayFor(model => model.Name)
            </p>
        </div>
        <div class="textContainer row">
            <p class="text">
                @Html.DisplayNameFor(model => model.Country)
                @Html.DisplayFor(model => model.Country)
            </p>
        </div>
        <div class="textContainer row">
            <p class="text">
                @Html.DisplayNameFor(model => model.Info)
                @Html.DisplayFor(model => model.Info)
            </p>
        </div>
    </div>
    <hr />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ProducerId">Edit</a>
        @if (@ViewBag.CarId != null)
        {
            <i>|</i>
            <a href="@ViewBag.Path">Back</a>
        }
        else
        {
            <i>|</i>
            <a asp-action="index">Back to Producers</a>
        }
    </div>
</div>


