@model CarShop.Producer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
        <h4>Producer</h4>
        <hr />
    <div class="container" style="margin: auto; width: 20%;  ">
        <div class="row">
            <img src=@Model.LogoUrl style="display: block; margin-left: auto; margin-right: auto" />
        </div>
        <div class="row">
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="row">
            @Html.DisplayNameFor(model => model.Country)
            @Html.DisplayFor(model => model.Country)
        </div>
        <div class="row">
            @Html.DisplayNameFor(model => model.Info)
            @Html.DisplayFor(model => model.Info)
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ProducerId">Edit</a>
        @if (@ViewBag.CarId != null)
        {
            <i>|</i>
            <a asp-action="Details" asp-controller="Cars" asp-route-id=@ViewBag.CarId>Back to Car</a>
        }
    </div>
</div>


