@model CarShop.ViewModels.CarDetailsViewModel

@{
    ViewData["Title"] = $"{Model.car.Producer.Name} {Model.car.Model}";
}
<link rel="stylesheet" href="~/css/DetailsStyle.css" />
<link rel="stylesheet" href="~/css/card.css" />
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src=@Model.car.PhotoUrl alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-3">
                    @Html.ActionLink($"{Model.car.Producer.Name}", "Details", "Producers", new { id = Model.car.ProducerId, CarId = Model.car.CarId, returnUrl = (string)ViewBag.Path }, new { @class = "btn btn-outline-dark flex-shrink-0" })
                </div>
                <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.car.Model)</h1>
                <div class="fs-5 mb-5">
                    <span>@Html.DisplayFor(model => model.car.Price)$</span>
                </div>
                <p class="lead">@Html.DisplayFor(model => model.car.Description)</p>
                <div class="d-flex">
                    @using (Html.BeginForm("AddToCart", "Cart", new { carId = Model.car.CarId }))
                    {
                    <div>
                        @Html.Hidden("returnUrl", (string)ViewBag.Path)
                        <input type="submit" class="btn btn-outline-dark flex-shrink-0" value="Add to Cart" />
                        <a asp-action="Index" asp-route-categoryId="@ViewBag.categoryId" class="btn btn-outline-dark flex-shrink-0" style="margin-left:10px"> Back</a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="cards row-3">
            @foreach (Car item in Model.RelatedCars)
            {
                <div class="card" onclick="cardClick(@item.CarId)">
                        <!-- Product image-->
                        <img class="card-img-top" src=@item.PhotoUrl alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Model</h5>
                                <!-- Product price-->
                                @item.Price$
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            @using (Html.BeginForm("AddToCart", "Cart", new { carId = item.CarId }))
                            {
                                <div>
                                    @Html.Hidden("returnUrl", (string)ViewBag.Path)
                                    <input type="submit" class="btn btn-outline-dark flex-shrink-0" value="Add to Cart" />
                                </div>
                            }
                        </div>
                    </div>
            }
        </div>
    </div>
</section>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>