@model IEnumerable<CarShop.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container">
    <div class="row row-cols-4">
        @foreach (var item in Model)
        {
        <div class="col">
            <table class="table-borderless">
                <tbody>
                <tr>
                    <td>
                        <div><img src=@item.PhotoUrl width="200" height="200"></div>
                        @Html.DisplayFor(modelItem => item.Producer.Name)
                        @Html.DisplayFor(modelItem => item.Model)
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                </tr>
                <tr >
                    <td>
                        @Html.DisplayNameFor(modelItem => item.Price):
                        @Html.DisplayFor(modelItem => item.Price)$
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
         }
    </div>
</div>
