@model IEnumerable<CarShop.Car>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/ButtonBuy.css" />
<link rel="stylesheet" href="~/css/cartButton.css" />
<link rel="stylesheet" href="~/css/card.css" />
<link rel="stylesheet" href="~/css/contentFilters.css" />

<form method="get">
    <div class="form-inline form-group">
        <span>
            <input type="number" name="minPrice" />
            <span class="bar"></span>
            <label>Minimum price</label>
        </span>
        <span>
            <input type="number" name="maxPrice" />
            <span class="bar"></span>
            <label>Maximum price</label>
        </span>
        <span>
            <select name="producerId" asp-items="ViewBag.ProducerId">
                <option value="null">~</option>
            </select>
            <label id="spanlbl">Producer: </label>
            <span class="bar"></span>
        </span>
        <span>
            <input type="number" name="year" />
            <span class="bar"></span>
            <label>Year</label>
        </span>

        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
    @Html.ValidationMessage("PriceError", new { @class = "text-danger" })
</form>


@if (ViewBag.CategoryName != null)
{
    <h1>@ViewBag.CategoryName</h1>
}
else
{
    <h1>Transport</h1>
}

<p>
    <a asp-action="Create" asp-route-categoryId ="@ViewBag.categoryId"><i class="fas fa-plus-square"></i> Create New</a>
</p>

<a id="button" asp-action="Index" asp-controller="Cart" asp-route-returnUrl="@ViewBag.Path"><img src="~/images/icons/shopping-cart.png" /></a>

<main class="cards row-3">
    @foreach (var item in Model)
    {
        <div class="card">
            <table class="table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <img src="@item.PhotoUrl" height="150" />
                            <div class="text">
                                <h4>@item.Producer.Name @item.Model @item.Year</h4>
                                <h6>@Html.DisplayNameFor(item => item.Price): @item.Price$ </h6>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <a asp-action="Details" asp-route-id="@item.CarId" asp-route-categoryId ="@ViewBag.categoryId"><i class="fas fa-info-circle"></i></a> |
                                <a asp-action="Edit" asp-route-id="@item.CarId" asp-route-categoryId ="@ViewBag.categoryId"><i class="fas fa-edit"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.CarId" asp-route-categoryId ="@ViewBag.categoryId"><i class="far fa-trash-alt"></i></a>
                            </div>
                            @using (Html.BeginForm("AddToCart", "Cart", new { carId = item.CarId }))
                            {
                                <div>
                                    @Html.Hidden("returnUrl", (string)ViewBag.Path)
                                    <input type="submit" class="btn btn-buy" value="Add to Cart" />
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</main>